<a href="https://colab.research.google.com/github/daniellegpin/arquivos-estudo/blob/main/Lista_Extra_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios - Python

1) Imprima a frase "Eu sou Dexteeer!"

In [1]:
print('Eu sou Dexteeer!')

Eu sou Dexteeer!

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [2]:
soma = 2+2
sub = 2-2
mult = 2*2
div = 2/2

print(soma)
print(sub)
print(mult)
print(div)

4
0
4
1.0

3) Imprima o tipo de um determinado valor inteiro.

In [19]:
x = 1
print(x)
print(type(x))

1
<class 'int'>

4) Converta o valor passado anteriormente para o tipo float

In [18]:
x = float(x)
print(x)
print(type(x))

1.0
<class 'float'>

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [20]:
x = str(x)
print(x)
print(type(x))

1
<class 'str'>

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [22]:
v1 = 2.898
print('{:.0f}'.format(v1))
v2 = 2.4545455
print('{:.4f}'.format(v2))

3
2.4545

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [25]:
nome = 'Danielle'
print(nome)
sobrenome = ' Gonçalves'
nome = nome + sobrenome
print(nome)

Danielle
Danielle Gonçalves

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

In [26]:
# break é uma função definida pela linguagem Python, logo não é possivel utilizar como o nome de uma variável.

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [63]:
s = 'Python é uma maldição!'
print(s)
print(s[0])
print(s[:6])
print(len(s))
print()
f = 'dados é o novo petróleo, em Deus eu confio, para o resto me traga dados'
print(f)
print()
fLista = f.split()
#print(fLista)
dadosFreq = []

for d in fLista:
  dadosFreq.append(fLista.count(d))

# print(str(list(zip(fLista, dadosFreq))))
print('Frequência da palavra dados = ', dadosFreq[0])
print()
l = list(f)
l[0] = 'D'
f = ''.join(l)
print(f)
print()
l2 = list(fLista)
print(l2)

Python é uma maldição!
P
Python
22

dados é o novo petróleo, em Deus eu confio, para o resto me traga dados

Frequência da palavra dados =  2

Dados é o novo petróleo, em Deus eu confio, para o resto me traga dados

['dados', 'é', 'o', 'novo', 'petróleo,', 'em', 'Deus', 'eu', 'confio,', 'para', 'o', 'resto', 'me', 'traga', 'dados']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.